.App {
  text-align: center;
}

/* App.css */
.dropdown-container {
  /* transform: translateX(-50%); */
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  gap: 20px; /* Adds space between the dropdowns */
}

.dropdown {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 3px #eee;
  cursor: pointer;
}

/* Adjustments for better layout and styling */
.notes-youtube-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start; /* Ensure aligned to the top */
  margin: auto; /*Center the container and add vertical space */
  max-width: 75%; /*Adjust based on your preference*/
}

.notes {
  flex: 1; /* Take up equal space */
  margin-right: 20px; /* Add some space between the notes and the YouTube embed */
  font-family: Arial, sans-serif; /* Choose a professional font stack */
  font-size: 40px; /* Adjust font size as needed */
  font-weight: 400; /* Normal font weight */
  color: #333; /* Professional text color */
  line-height: 1.5; /* Adjust line height for readability */
  letter-spacing: 0.5px; /* Add slight letter spacing for clarity */
}

.youtube-embed {
  flex: 1; /* Take up equal space */
 
  border: 2px solid #4e8fd6; /* Light blue border */
  border-radius: 5px; /* Rounded corners */
  padding: 20px; /* Add some padding inside the border */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */

}

.youtube-iframe {
  width: 100%; /* Full width of the container */
  height: 350px; /* Adjust height as needed */
}
