.App {
  text-align: center;
}

body {
  background-color: #179191;
}

/* header styling */
.header {
  background-color: #EBE0D5; /* Professional header color */
  padding: 10px;

  display: flex; /* Use flexbox layout */
  flex-direction: row;

  margin: 1%;
  border-radius: 10px; /* Rounded corners */
}

.logo {
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
  height: 80px; /* Set a fixed height for the logo container */
  width: 80px;
}

#GitHub-logo {
  width: 40px;
  height: 40px;

  margin-left: 30px;
  margin-top: 20px;
}

#logo-img {
  max-width: 100%; /* Ensure the image doesn't exceed the container's width */
  max-height: 100%; /* Ensure the image doesn't exceed the container's height */
}

.dropdown-container {
  /* transform: translateX(-50%); */
  padding: 20px;
  
  display: flex;
  
  gap: 20px; /* Adds space between the dropdowns */

}

.dropdown, #home-button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

#home-button {
  height: 40px;
  margin-left: 30px;
  margin-top: 20px;
}

/* Adjustments for better layout and styling */
.notes-youtube-container {
  display: flex;
  align-items: flex-start; /* Ensure aligned to the top */
  justify-content: space-between; /* Distribute space evenly between sections */
  max-width: 100%; /*Adjust based on your preference*/
  margin-top: 0%;
}

.notes {
  flex: 1; /* Take up equal space */
  padding-left: 3%;
  padding-right: 1%;

  display: flex; /* Use flexbox layout */
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */

  text-align: center;
  
}

#notes-text {
  font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif; 
  font-size: 120px; /* Adjust font size as needed */
  font-weight: 600; /* Normal font weight */
  color: #EBE0D5; /* Professional text color */
  line-height: 1.5; /* Adjust line height for readability */
  letter-spacing: 0.5px; /* Add slight letter spacing for clarity */
}

#sheet-music-img {
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */

  border: 8px solid #EBE0D5; /* Light blue border */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.youtube-embed {

  display: flex;
  flex: 1.5; /* Take up twice the space of notes and description */
 
  border: 8px solid #EBE0D5; /* Light blue border */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  
  width: 100%;
  height: 397px;

  align-items: center;
  align-content: center;
  
}

.youtube-iframe {
  width: 100%; /* Full width of the container */
  height: 397px; /* Adjust height as needed */
  
}

#description {
  font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif; 
  font-size: 30px; /* Adjust font size as needed */
  font-weight: 400; /* Normal font weight */
  color: #242424; /* Professional text color */
  line-height: 1.5; /* Adjust line height for readability */
  letter-spacing: 0.5px; /* Add slight letter spacing for clarity */

  padding-left: 6%;
  padding-right: 6%;
}

.skills-description {
  flex: 1; /* Take up equal space */

  margin-left: 1%;
  margin-right: 2%;

}

#skills-header, #notes-header {
  font-size: 60px;

  text-align: center;
  font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif; 
  
  color: #EBE0D5; /* Professional text color */
  line-height: 1.5; /* Adjust line height for readability */
  letter-spacing: 0.5px; /* Add slight letter spacing for clarity */

  padding: 0;
  margin: 0;
}

.container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 20px;
  margin-top: 27px;
  margin-right: 12px;
  margin-left: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif; 
  font-size: 20px; /* Adjust font size as needed */
  font-weight: 400; /* Normal font weight */
  color: #242424; /* Professional text color */
  line-height: 1.5; /* Adjust line height for readability */
  letter-spacing: 0.5px; /* Add slight letter spacing for clarity */
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;

  margin-right: 0px;
}

#little-notes {

  font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif; 
}

pre {
  margin: 0;
  font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif; 
  font-size: 20px; /* Adjust font size as needed */
  font-weight: 400; /* Normal font weight */
  color: #242424; /* Professional text color */
  line-height: 1.5; /* Adjust line height for readability */
  letter-spacing: 0.5px; /* Add slight letter spacing for clarity */
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #179191;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.pianoNotes {
  text-align: center;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox {
  margin-right: 10px;
}




