.App {
  text-align: center;
}

/* App.css */
.dropdown-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  gap: 20px; /* Adds space between the dropdowns */
}

.dropdown {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 3px #eee;
  cursor: pointer;
}

